In [92]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
data = pd.read_csv("./clean_tweet_data.csv")

In [71]:
df = data[["clean_text", "sentiment", "polarity"]]
df.head()

                                          clean_text  sentiment  polarity
0  RT the year yield be tell we that there be a h...          1      0.16
1  RT German mortgage rate go from to can you hea...          1      0.15
2                                            RT when         -1      0.00
3  RT the year mortgage rate in the US rise to it...          1      0.00
4  RT rate rise until something break be anything...         -1     -0.40

In [72]:
df

                                              clean_text  sentiment  polarity
0      RT the year yield be tell we that there be a h...          1      0.16
1      RT German mortgage rate go from to can you hea...          1      0.15
2                                                RT when         -1      0.00
3      RT the year mortgage rate in the US rise to it...          1      0.00
4      RT rate rise until something break be anything...         -1     -0.40
...                                                  ...        ...       ...
15175  RT free yourself from write and maintain that ...          1      0.40
15176  RT thank you for this beautiful message of Com...          1      0.85
15177                                           RT agree         -1      0.00
15178  RT Peace Yatra by Late Sunil Dutt from Mumbai ...          0     -0.30
15179  RT Gujarat Congress MLA arrest for a tweet no ...          0      0.00

[15180 rows x 3 columns]

In [73]:
df_pos_neg = df.loc[(df["sentiment"] == 1) | (df["sentiment"] == 0)]
df_pos_neg.head()

                                          clean_text  sentiment  polarity
0  RT the year yield be tell we that there be a h...          1      0.16
1  RT German mortgage rate go from to can you hea...          1      0.15
3  RT the year mortgage rate in the US rise to it...          1      0.00
5  RT buy opportunity like this only occur every ...          0     -0.10
6  RT welcome to September bond market test what ...          1      0.40

In [86]:
df_pos_neg.head()
df_pos_neg.reset_index(drop=True, inplace=True)
df_pos_neg.head()

                                          clean_text  sentiment  polarity
0  RT the year yield be tell we that there be a h...          1      0.16
1  RT German mortgage rate go from to can you hea...          1      0.15
2  RT the year mortgage rate in the US rise to it...          1      0.00
3  RT buy opportunity like this only occur every ...          0     -0.10
4  RT welcome to September bond market test what ...          1      0.40