In [ ]:
import streamlit as st
import mysql.connector

In [ ]:
@st.experimental_singleton
def init_connection():
    return mysql.connector.connect(**st.secrets["mysql"])

In [ ]:
conn = init_connection()

In [ ]:
@st.experimental_memo(ttl=600)
def run_query(query):
    with conn.cursor() as cur:
        cur.execute(query)
        return cur.fetchall()

In [ ]:
rows = run_query("SELECT * from tweets;")

In [ ]:
for row in rows:
    st.write(f"{row[0]} has a :{row[1]}:")